.EssentialGuide {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 40px;
    padding: 40px 20px 20px 20px;
    overflow-y: hidden;
    scroll-behavior: smooth;
    font-family: "Lato", sans-serif;
    color: white;
    background-color: rgba(0, 0, 0, 0.576);
}

.Essential-Container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 20px;
    overflow-y: hidden; /* Enable scrolling on the inner container */
    padding-bottom: 60px;
}

.Essential-ViewMore {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
}

.Essential-ViewMore h2{
    border-radius: 30px;
    border: 2px solid black;
    padding: 10px 20px 10px 20px;
    font-size: 15px;
    font-weight: bold;
}
.Essential-ViewMore h2:hover{
    background-color: black;
    color: white;
}

.View-More:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* Hide the scrollbar for WebKit browsers */
.Essential-Container::-webkit-scrollbar {
    display: none !important;
}

@media(max-width: 1005px){
    .EssentialGuide{
        padding: 40px 20px 0px 10px;
        gap: 20px;
        background-color: rgba(0, 0, 0, 0.576);
    }

    .Essential-Container {
        gap: 10px;
    }

    .Essential-ViewMore h2{
    border-radius: 30px;
    border: 2px solid black;
    padding: 5px;
    font-size: 12px;
    font-weight: bold;
    }
}
