.Essential-Expert-card {
  width: auto;
  background-color: #2d6dbbbe;
  box-shadow: 0 1px 2px 0 rgba(22, 15, 96, 0.673);
  color: rgb(255, 255, 255);
  border-radius: 20px;
  height: auto;
  min-height: 350px;
  max-width: 350px;
  min-width: 350px;
}

.card a {
  text-decoration: none;
}

.contents {
  padding: 1.1rem;
}

.Essential-image {
  object-fit: cover;
  background-color: rgb(239, 205, 255);
  height: 200px;
  width: auto;
  overflow: hidden;
  border-radius: 20px 20px 0 0;
}

.Essential-image img {
  height: 200px;
  width: 100%;
}

.title {
  color: #ffffff;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 600;
  text-decoration: none;
}

.Temple-desc {
  margin-top: 0.5rem;
  color: #ffffff;
  font-size: 1rem;
  max-width: 400px;
}

.action {
  display: flex;
  justify-content: end;
  position: relative;
  top: 1rem;
}

.action button {
  background-color: #29292bbf;
  color: #fff;
  border: none;
  padding: 10px 12px;
  border-radius: 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.action button:hover {
  background-color: #101011bb;
}
