.City-Box{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(170, 169, 167, 0.713);
  color: rgb(0, 0, 0);
  font-family: "Lato", sans-serif;
  padding: 20px;
  padding-bottom: 120px;
}

.cityDesc-Heading{
  position: relative;
  align-items: start;
  top: 40px;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: bold;
}

.city-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 30px;

}

.ViewMore{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: ease-in-out 0.3s;
  border-radius: 10px;
}

.ViewMore:hover {
  background-color: rgba(244, 159, 56, 0.9);
}

.city-Button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #7777778f;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 10px;
}

.city-Button:hover {
  color: black;
  background-color: #f18e1d;
  border-radius: 10px;
}

.Best-Places{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  padding: 90px 20px 40px 20px;
  border-radius: 10px;
}




@media(max-width: 1005px){
  .city-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: black;
  border-radius: 20px;
}

.cityDesc-Heading{
  position: relative;
  top: 50px;
  font-size: 20px;
}

.Best-Places{
  border-radius: 20px;
}
}