.City-Box{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.city-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 30px;
  padding: 30px;
  background-color: black;
}

.city-image-1 {
  width: 400px;
  height: 500px;
  border-radius: 205px 0px 205px 0px;
  overflow: hidden;
  min-width: 400px;
  color: white;
}

.city-image-2 {
  width: 400px;
  height: 500px;
  border-radius: 0px 205px 0px 205px;
  overflow: hidden;
  min-width: 400px;
  color: white;
}

.city-image-1 img,.city-image-2 img {
  width: 400px;
  height: 700px;
  transition: ease-in-out 0.5s;
}

.city-description {
  margin-top: 20px;
  color: white;
}


.city-image-2:hover img{
  transform: scale(1.2);
}

.city-image-1:hover img{
  transform: scale(1.2);
}

.city-image-2::-webkit-scrollbar {
    display: none !important;
}

.city-image-1::-webkit-scrollbar {
    display: none !important;
}

.city-description h2{
  font-size: 35px;
  padding-top: 20px;
}

.city-description p{
  font-size: 25px;
  padding-top: 30px;
}


@media(max-width: 1005px){


  .city-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 30px;
  padding: 30px;
  background-color: black;
}

  .city-image-1,.city-image-2 {
  width: 100px;
  height: 150px;
  border-radius: 100px 0px 100px 0px;
  overflow: hidden;
  min-width: 150px;
  color: white;
}

.city-image-1 img{
  width: 200px;
  height: 250px;
  transition: ease-in-out 0.1s;
}

.city-image-2 img {
  width: 200px;
  height: 250px;
  transition: ease-in-out 0.1s;
  filter: hue-rotate(120deg);
}

.city-description h2{
  font-size: 20px;
  padding-top: 0px;
}

.city-description p{
  font-size: 12px;
  padding-top: 10px;
}
}